[2015-06-25 17:18] timproDev opened #1 "C48 Should be Supressable"
C48 component needs to be allowed to be suppressed.
The functional spec has been modified in green to accommodate for this.

[2015-06-26 13:50] #1 closed, assigned to nobody

[2015-06-26 14:18] DrewAllen88 opened #2 "Homepage Feature Area allowed to be Suppressed"
C1 Homepage Feature Area should be able to be suppressed and allow C4 Featured Stories Carousel to move to top.

https://author-mmcqa3.adobecqms.net/cf#/content/marsh-author-training/north-america/united-states/us-en/hodor-homepage.html

[2015-06-26 14:19] DrewAllen88 commented on #2
Review this request with the content team to figure out why they want this functionality.

[2015-06-26 14:21] DrewAllen88 opened #3 "Optimize Web Fonts for non Latin Characters"
Secondary font is set to Arial for webpages. This font is not optimal for many non Latin and some non English Latin characters.

See link for examples in Czech, Russian, Greek (scroll down)

Continental Europe has an alternatively suggested secondary font option we should consider using. I'm waiting for Barbara Ghirimoldi to return in Italy to get the suggested alt font.

http://mmcqa3.adobecqms.n

[2015-06-26 14:21] DrewAllen88 commented on #3
Implemented.

[2015-06-26 14:21] #3 closed, assigned to nobody

[2015-06-26 14:23] DrewAllen88 opened #4 "Images for Shared Articles Should Not Be Required"
S04 Shared article requires an image. Content team would like to move forward with content loading and make image currently optional. When new imagery is available post-launch, content team can go back and add and image can be turned back to 'required.'

[2015-06-26 14:24] #4 closed, assigned to nobody

[2015-06-26 14:24] DrewAllen88 opened #5 "Advanced Accordion Image Should Not Be Required"
The advanced accordion currently requires an image, but the content team would prefer it not to be required.

[2015-06-26 14:24] #5 closed, assigned to nobody

[2015-06-26 15:43] timproDev commented on #1
Who closed this? This is not proper protocol! @DrewAllen88

[2015-06-26 16:04] DrewAllen88 opened #6 "Blog Tags Need to Override People Tags"
Blog tags should override people tags (or people tags should be hidden when there are blog tags). In example, first line of tags should show up, not second line of tags.

https://author-mmcstage2.adobecqms.net/cf#/content/marsh/americas/us/en/blogs/three-strategies-to-better-mangage-geopolitical-risk.html

[2015-06-26 16:07] DrewAllen88 opened #7 "New Component for PDF Downloads"
We need a component - outside of RR5 on Article templates - for PDF download. We'll use the RR link list for launch, but we would prefer the link list be for links to other pages and a separate function/ icon for downloads.

MAR-1334

http://author-mmcprod2.adobecqms.net/cf#/content/marsh/americas/us/en/services/analytics/analytics-for-cyber-decision-making.html

Right Rail PDF Download Component

[2015-06-26 16:07] DrewAllen88 commented on #7
Right Rail PDF Download Component Requirements:
-Author can add into RR parsys
-Author can add multiple PDFs to the component
-Author can populate Header text field (e.g., “Learn more about Marsh’s Marine Practice”)
-Author can populate View More label text field (e.g., “View more”) – View more with dropdown displays if more than
-Author can browse for and select PDFs from the DAM
-Author can inpu

[2015-06-26 16:15] DrewAllen88 opened #8 "Make Advanced Accordion Not Static on T02 Template"
Remove the advanced accordion as a static component on T02

[2015-06-26 16:15] DrewAllen88 opened #9 "Create "Browser not Supported" Message"
Implement a 'browser not supported' message for marsh.com when a user visits from an unsupported browser. Leaning towards a message that does not interrupt user and can be minimized (most likely in the header)

Browser Not Supported Message Requirements:
Message pops from header when user is on an unsupported browser, which includes all browser versions other than the following:
-Internet Explorer

[2015-06-26 16:16] DrewAllen88 commented on #9
Browser Not Supported Message Requirements:
Message pops from header when user is on an unsupported browser, which includes all browser versions other than the following:
-Internet Explorer versions 9 and higher
-Firefox versions 33 and higher
-Chrome versions 38 and higher

Message will include static text and below text will provide user with links to update to a supported browser (IE v 9+, FF v

[2015-06-26 16:16] DrewAllen88 opened #10 "RR Link List Auto Suppress"
RR Link List should suppress itself when nothing populates from source path (dynamic setting).

[2015-06-26 16:17] DrewAllen88 opened #11 "Infinite Scroll Indicator/Loading"
Implement a loading indicator (ex. ajax spinner) to indicate search is running and/or more items are loading on infinite scroll

[2015-06-26 16:17] #11 closed, assigned to nobody

[2015-06-26 16:17] DrewAllen88 opened #12 "Increase Minimum View More for RR Link List"
RR link list allows for just 1 item in view more - min should be 3.

What happens if we currently have things authored like this?

[2015-06-26 16:19] DrewAllen88 opened #13 "Introduce Image Editor to WYSWYG"
In-line image editor needs to be provided for wyswyg/shared content to reduce complexity/proliferation of components. And so shared content isn't broken up bc of an image in-between

[2015-06-26 16:20] DrewAllen88 commented on #13
Included for the rich text component in sprint 6, so completed?

[2015-06-26 16:20] DrewAllen88 opened #14 "Ability to Add Image to RTE"
Allow author to add in-line image into the rich text component.

[2015-06-26 16:23] DrewAllen88 opened #15 "Allow Author to Create Non-Shared Articles"
Allow author to create non-shared articles.

Requirements:
-Author can create an insights article without using shared article scaffold
-Author can input the following information:
Title; Premium Content (Radio Button); Article Summary; Linked Content (Browse Field); Quote Text; Image (Browse Field); Image Link (Browse Field); Open in New Window? (Check Box); Text (Rich Text); Premium Content fiel

[2015-06-26 16:24] DrewAllen88 opened #16 "Allow Author to Create Non-Shared Press Releases"
Allow author to create non-shared press releases.

Requirements:
-Author can create an press release article without using shared article scaffold
-Author can input the following information:
Title; Subtitle; Location; Image (Browse Field); Image Link (Browse Field); Open in New Window? (Check Box); Text (Rich Text).

Assumptions:
-Non-shared articles will use the article template
-Page properties

[2015-06-26 16:25] DrewAllen88 commented on #16
Could impact UK build.

[2015-06-26 16:25] DrewAllen88 opened #17 "Allow Author to Create Non-Shared Events"
Allow author to create non-shared events

Requirements:
-author can create events without using the shared article scaffold
-author can input the following info:
Title; Start Date; End Date; Start Time; End Time; Hide Location Address (Checkbox); Location Name, Street Address, City; Add to Calendar Text; Location Map Text; Event Short Description; Event Detailed Description; Registration Page URL,

[2015-06-26 16:25] DrewAllen88 commented on #17
Could impact UK build.

[2015-06-26 16:26] DrewAllen88 opened #18 "Blog Listing Component Needs to Point to Folder Path"
Points to folder path rather than child pages. If we want to host the posts themselves elsewhere (e.g., under Insights) and have the listing page populated with links to the post, we need the component to point to a folder path versus pulling its children (which is what happens now).

[2015-06-26 16:27] DrewAllen88 opened #19 "Add Filtering/Sorting Functionality to the Blog Listing Page"
Add filtering/sorting functionality to the blog listing page, impact Risk in Context.

[2015-06-26 16:28] DrewAllen88 opened #20 "Homepage Campaign Image Should Be Smaller in Height"
Shorter height for background image.

Requirements:
-The background image that is used for the campaigns needs to have a reduced height

Assumptions:
-Responsive properties remain intact

[2015-06-26 16:29] DrewAllen88 opened #21 "Allow Further Date Setting Options"
Further date setting options.

Requirements
-Author can choose date format that displays for insights and pr tiles from the following formats:
September 19, 2014
19-SEP-2014
19-SEP-14
Tuesday, September 19, 2014
19-SEP-2014 (08:20:43 AM)

[Insights Listing](https://www.marsh.com/us/insights.html)
![image](https://cloud.githubusercontent.com/assets/8258720/8937829/f7b63f82-3528-11e5-9125-dc8e252777

[2015-06-26 16:29] DrewAllen88 opened #22 "Provide Forms Template"
Provide forms template for content authors.

Requirements:
-Author can create a custom form
-Author can customize the form and its fields

[2015-06-26 16:29] DrewAllen88 commented on #22
Talk to Will about it to get an idea of what would be needed.

[2015-06-26 16:30] DrewAllen88 opened #23 ""Open in New Window" Option for Redirect Template"
Allow redirect template to have a 'open in new window' option

[2015-06-26 16:32] DrewAllen88 opened #24 "Enforce Character Limit on Components"
Enforce a character limit and fixed height on varying components, some of which include:

Homepage Feature Area
-Header – character limit (one line)
-Description – character limit (how many lines?)

Feature Area (define fixed height)
-Header – character limit (one line)
-Description – character limit (how many lines?)
-Right Column RT – can we set a character limit?
-Right Column Parsys – can we s

[2015-06-26 16:33] DrewAllen88 opened #25 "CTA Required for Webcast Replays"
Non shared events pages need an option to take the user to a webcast replay via a CTA.

[2015-06-26 16:33] DrewAllen88 commented on #25
Need to come up with UX rule @ianlaw

[2015-06-26 16:38] DrewAllen88 commented on #21
Locale page setting?

[2015-06-26 16:45] DrewAllen88 opened #26 "Enable Insights Setting to Feature Events"
Allow for the Events articles to display among the Insights articles on the landing page. May become an option in the dropdown menu for the US.

Requirements:
-The insights listing page to include articles authored from events
-insights articles to remain the same
-listing tiles to be updated with Events info
-needs to accommodate shared and non-shared events

[2015-06-26 16:47] DrewAllen88 opened #27 "People/Blog Carousel to Imitate Promo Carousel"
Update People/ Blog Carousel so it imitates Promo Carousel style

Requirements:
-Authoring doesn’t change (fields remain unchanged)
-Image size becomes square instead of landscape

Assumptions:
-Fields remain the same

[2015-06-26 16:47] DrewAllen88 commented on #27
What happens when you point the Promo Carousel to a Shared People? Need to test this in UAT.

Joy/Ian - it doesnt work.

[2015-06-26 16:49] DrewAllen88 opened #28 "Fix Display Address on Google Maps"
Whether or not long/lat is authored, can the map display the location with the address (address line 1, add line 2, city, state, country)? Even if it is going to the exact long/lat, it should show the address so user still has view of address on that page. Right now if long/lat is authored, it shows those and not the address.

MAR-1767

[2015-06-26 16:49] DrewAllen88 commented on #28
Need to solve for the international addresses.

[2015-06-26 16:50] DrewAllen88 opened #29 "Feature More Than One Campaign on Homepage"
Option to feature more than one campaign on the homepage.

Requirements:
-Author can add details for multiple campaigns to Header Feature Area
-When more than one campaign is added there is some indication and way to navigate between them as a user

Assumptions:
-Fields remain the same for Header Feature Area, just with the addition to add multiple campaigns

![image](https://cloud.githubuserconte

[2015-06-26 16:51] DrewAllen88 commented on #29
An example of how to tackle here: http://www.ibm.com/en-us/

[2015-06-26 16:51] DrewAllen88 opened #30 "Campaign Feature Area to Support H1 and H2 Tags"
Update campaign feature area to support H1 and H2 tags. The tags need to be switched around and make sure that the styling matches what Design has.

Requirements:
-Authors can define the H1 and H2 content

[2015-06-26 16:53] DrewAllen88 opened #31 "Update Search Console"
Folder for the robots.txt file is only for the US right now, need it available for the UK and onwards. Is it the same file for all portals or multiple?

[2015-06-26 16:54] DrewAllen88 opened #32 "Responsive Iframe Behavior"
Allow for the iframe to disappear on mobile and tablet - or responsive. Right now the iframe remains visible on smaller viewports but doesn’t function well, this enhancement allows for two RTEs to be present instead at the two different viewports.

[2015-06-26 16:54] DrewAllen88 opened #33 "Defining Presentation Styles for Inline Images"
Need something standard so that it doesn't break across viewports and to give the authors a few options.
- alignment
- padding
- text wrap

[2015-06-26 16:55] DrewAllen88 opened #34 "Add "Open in New Window" to Promo Carousel"
Add the "open in new window" checkbox option to Promo Carousel so that it can link out to external content.

[2015-06-26 16:55] DrewAllen88 opened #35 "Rename "About Us Recruiting" Template"
Rename "About Us Recruiting" Template, need to come up with new name.

[2015-06-26 16:56] DrewAllen88 opened #36 "Rename "Segment Industry Service" Template"
Rename "Segment Industry Service" Template, need to come up with new name.

[2015-06-26 16:57] DrewAllen88 opened #37 "Remove the Border on the Iframe"
Remove the border on the iframe in AEM.

[Example](author-prod2.www.marshinc.net/cf#/content/marsh/americas/us/en/client-segments/individuals-and-families/liability-coverage-estimator.html)

MAR-1370

[2015-06-30 12:57] DrewAllen88 opened #38 "Update Utility Nav"
![image](https://cloud.githubusercontent.com/assets/8258720/8828883/53f0aace-3062-11e5-888f-20a7edf7c81e.png)
The anonymous state includes:
• Region Selector
• Language Selector
• Username/Email Field
• Password Field
• Login
• Register
• Search (new location on the right; new search button in blue)

![image](https://cloud.githubusercontent.com/assets/8258720/8828903/62a68dcc-3062-11e5-86b2-6180e6

[2015-06-30 18:08] #7 closed, assigned to nobody

[2015-06-30 18:08] #9 closed, assigned to nobody

[2015-06-30 18:08] #14 closed, assigned to nobody

[2015-06-30 18:09] DrewAllen88 commented on #13
@timproDev was this included in the last sprint?

[2015-06-30 18:15] DrewAllen88 opened #39 "Update Styling in Global Header"
Need to add About Marsh to the global header but it breaks when doing so, Client Segments gets dropped.

[2015-06-30 18:32] DrewAllen88 commented on #6
This should be an authoring thing.

[2015-06-30 18:32] #8 closed, assigned to nobody

[2015-06-30 18:32] #10 closed, assigned to nobody

[2015-06-30 18:36] DrewAllen88 commented on #25
Noted in training document, closing.

[2015-06-30 18:36] #25 closed, assigned to ianlaw

[2015-06-30 18:49] DrewAllen88 opened #40 "Design Reconcilliation: Fonts"
Font sizes to match those of the Promo Carousel from the Miller Smith designs.

Requirements:

RR People List
- "" field font to be reduced to 13px
- "" field font to be reduced to 14px

RR Text
- "Description" field font to be reduced to 14px

RR Video
- "Video Description" field font to be reduced to 14px

RR Bio
- Dynamic "Title" field font to be increased to 14px

RR Horizontal Highlight
- "De

[2015-06-30 18:49] DrewAllen88 opened #41 "Design Reconcilliation: Feature Areas"
Updated Feature areas should all have a fixed height as stated here.

See also https://github.com/DrewAllen88/Enhancements/issues/72 and https://github.com/DrewAllen88/Enhancements/issues/83

Home: 400px
Homepage Feature Area
![image](https://cloud.githubusercontent.com/assets/8258720/8913304/434297e8-3466-11e5-94ae-1b38485cb8b2.png)

Level 1: 400px
Feature Area
![image](https://cloud.githubuserco

[2015-06-30 19:09] timproDev commented on #32
possible performance issue when on mobile device as the src attribute of the DOM element is still active, though hidden by CSS

[2015-06-30 20:13] joyjamir opened #42 "Redesign Twitter component"
Redesign Twitter component so that it does not cause (or require) the locale page to auto-publish.

Lives in the footer of each page:
![image](https://cloud.githubusercontent.com/assets/8258720/8937888/33930756-3529-11e5-9382-8e7076966c1d.png)

[2015-07-01 17:08] DrewAllen88 opened #43 "(Component) (field) font does not match Promo Carousel"
Need to compile this list

[2015-07-07 17:03] joyjamir opened #44 "Cap Feature Story and Promo Carousels at 5 entries"
Currently no limit set so the author can add as many as they want. Set the limit to a maximum of 5 entries on both components (Promo Carousel and Featured Stories).

![image](https://cloud.githubusercontent.com/assets/8258720/8912282/a6dde502-345f-11e5-958e-875e13184282.png)
![image](https://cloud.githubusercontent.com/assets/8258720/8912285/b0f0bb3c-345f-11e5-8f4c-daa92a75546d.png)

[2015-07-07 17:04] DrewAllen88 commented on #43
Duplicate https://github.com/DrewAllen88/Enhancements/issues/40

[2015-07-07 17:04] #43 closed, assigned to nobody

[2015-07-09 12:48] DrewAllen88 opened #45 "Enable the Adobe Tag Manager"
We will use this to manage and deploy the applicable configuration changes, such as GoogleAnalytics code, activate/deactivate Qualtrix scripts, etc.

-Device that allows some marketers to go in and assign custom javascript to certain pages. Done outside of AEM. Qualtrics for Katrina page is a good example. With tag manager enabled the marketer can define an event.
-Once it has been approved subjec

[2015-07-09 20:12] DrewAllen88 opened #46 "Fix Character Issue On Attendees Listing"
Having a title with two lines breaks the containers, so it is currently limited to one line. The attendee box needs to be adjusted to allow for two lines.

![image](https://cloud.githubusercontent.com/assets/8258720/8810590/e928abe6-2fbd-11e5-8a97-1ac0a621e4cf.png)

Top padding needs to be reduced perhaps. The padding needs to be standard across so the names all align but still allow for the secon

[2015-07-14 18:24] DrewAllen88 commented on #30
Linked to:
https://github.com/DrewAllen88/Enhancements/issues/20
https://github.com/DrewAllen88/Enhancements/issues/29

[2015-07-14 18:24] DrewAllen88 commented on #20
Linked to:
https://github.com/DrewAllen88/Enhancements/issues/30
https://github.com/DrewAllen88/Enhancements/issues/29

[2015-07-14 18:24] DrewAllen88 commented on #29
Linked to:
https://github.com/DrewAllen88/Enhancements/issues/20
https://github.com/DrewAllen88/Enhancements/issues/30

[2015-07-14 19:06] DrewAllen88 commented on #22
Out of the box forms on AEM - http://www.adobe.com/uk/solutions/web-experience-management/adaptive-responsive-forms-creation.html

[2015-07-14 19:14] DrewAllen88 commented on #22
-Take AEM out of the box form and pay Accenture to build the first few and dumb it down, and train people how to use it correctly.
-Should fit most of if not of all the requirements.
-Allows the form builders lots of flexibility. Too much?

[2015-07-14 19:40] DrewAllen88 commented on #24
Look at mobile design and suggest character limits there based on SEO limits, and see how that impacts the components.

[2015-07-14 19:41] DrewAllen88 commented on #40
For dynamic fields that are pulled in, find their label in Confluence.

[2015-07-15 19:25] DrewAllen88 commented on #24
Promo Carousel
Title - two lines - 118 character limit (with spaces)
Description - three lines of text - 244 character limit (with spaces)

![image](https://cloud.githubusercontent.com/assets/8258720/8707801/fb63ed82-2b05-11e5-8678-a19436563af6.png)

[2015-07-15 19:51] DrewAllen88 commented on #24
Feature Area
Header - one line - 44 character limit (with spaces)
Description - three lines - 182 character limit (with spaces)
Right Column RTE - four lines - 164 character limit (with spaces)

![image](https://cloud.githubusercontent.com/assets/8258720/8708431/f2770160-2b09-11e5-8413-213d3250caac.png)

![image](https://cloud.githubusercontent.com/assets/8258720/8708438/007edc06-2b0a-11e5-862c-70

[2015-07-20 18:00] DrewAllen88 opened #47 "Redesign Campaign Page"
Current Campaign page could be the version of the page where the user is in a "logged in" state, where we already have their information. We need a new iteration for lead capture, a "non logged in" state, where we show less content.

Will need a new design for this and the lead generation form.

[2015-07-20 19:31] DrewAllen88 commented on #16
New design:
![image](https://cloud.githubusercontent.com/assets/8258720/8785246/58aabd9e-2ef4-11e5-8427-d6318c23447c.png)

[2015-07-21 16:14] DrewAllen88 commented on #47
Two versions of the page:

1- what we already have now for campaigns
2- slimmed down version of the page with the CTA; when they submit the info they are redirected to the full page; ideally the info is stored in MarshForce

Users see version 2 if they come to the site logged out. Users get version 1 from email and logged in coming to the site.

[2015-07-21 16:25] DrewAllen88 commented on #38
[File in chatter](https://marsh.my.salesforce.com/06912000001gmxk?retUrl=%2Fchatter%2Fhandlers%2Flistview%2Ffile%3F_dc%3D1437507739870%26type%3Dfile%26filter%3Drecent%26fldr%3D%26linkDesc%3D%26customFilterParams%3D%26isSearchSupported%3D)

[2015-07-21 16:28] DrewAllen88 opened #48 "Fix Display of Primary Nav Buttons"
When adding a 4th nav item to the menu it breaks.
![image](https://cloud.githubusercontent.com/assets/8258720/8856960/2c0332a4-313c-11e5-895d-ac3789b6981e.png)

[2015-07-21 19:32] DrewAllen88 commented on #22
Figure out what type of forms we have a get those fields fleshed out for each.

[2015-07-21 19:43] DrewAllen88 commented on #41
[File in Chatter](https://marsh.my.salesforce.com/06912000001gmxz?retUrl=%2Fchatter%2Fhandlers%2Flistview%2Ffile%3F_dc%3D1437507739870%26type%3Dfile%26filter%3Drecent%26fldr%3D%26linkDesc%3D%26customFilterParams%3D%26isSearchSupported%3D) along with the [Campus Recruiting](https://marsh.my.salesforce.com/06912000001gnzS) examples with dropdown navigation.

[2015-07-22 14:21] joyjamir commented on #38
Update list above for BAU team to capture which items are new, which are being removed, etc.

[2015-07-22 15:13] DrewAllen88 commented on #38
@joyjamir Added some additional comments to the original and put some screenshots in for reference.

[2015-07-22 15:16] DrewAllen88 commented on #32
Additional info:

The RTE's would be given a class that makes them only visible on mobile and tablet, so the iframe would have the opposite and have a class so only visible on desktop.

[2015-07-22 15:48] DrewAllen88 opened #49 "Utility Nav Breaking"
Can be included in other utility nav update, reference [here](https://github.com/DrewAllen88/Enhancements/issues/38).
![image](https://cloud.githubusercontent.com/assets/8258720/8831792/bbd60566-3072-11e5-9df4-728ac95ca42c.png).
Search and Logout are dropped from utility nav.
Keep in mind the design changes, that are being handled first.

[2015-07-22 15:59] DrewAllen88 commented on #38
Related [ticket](https://github.com/DrewAllen88/Enhancements/issues/49).

[2015-07-23 14:04] DrewAllen88 opened #50 "Image Not Found Graphic Not Rendering"
Image Not Found Graphic is not rendering for Shared People under Canada

We have an image-not-found graphic that we include on the page properties at the folder level under shared people.  Where we do not have an image for a person, this graphic is pulled in as a placeholder (for example on leadership pages or for the attendees components).  The image is added on the page properties for the Canada

[2015-07-23 16:14] DrewAllen88 opened #51 "Remove Level 2 Subtitle"
Need to confirm with design that this is being stripped permanently or not for the new level 2 design.

![image](https://cloud.githubusercontent.com/assets/8258720/8855655/5a9f76a2-3134-11e5-9a25-978c8fe2f84e.png)

[2015-07-23 16:23] timproDev commented on #38
@DrewAllen88 Drew, I am looking through the PSD comps and do not seem to see any comps of the search field on mobile. FED would need these for the build. Any feedback on this?

[2015-07-23 19:38] joyjamir opened #52 "Display an alert to users if TSP registration or log-in is unavailable"
TSP maintenance windows result in registration and log in to be unavailable for marsh.com.  It would be ideal to have a message or alert available to display to users during these windows of time.

[2015-07-24 16:22] DrewAllen88 commented on #30
![image](https://cloud.githubusercontent.com/assets/8258720/8879279/8876d2d0-31fe-11e5-9345-53fcadcd4d6f.png)

Similar to what will be seen in the new homepage design:
![image](https://cloud.githubusercontent.com/assets/8258720/8879298/a5e5f210-31fe-11e5-951e-6878c0da97cd.png)

[2015-07-24 16:26] DrewAllen88 commented on #45
BAU item.

[2015-07-24 16:27] DrewAllen88 opened #53 "Enable CSS Updates"
Enable CSS file updates outside of a code deployment.

Have a folder in the DAM that contains the .css file, and potentially sub folders and files, and the new page property points to this file.

BAU Item
- new page property at the locale level
- ability to point to desired .css file
- corresponding .css file styles are applied to the entire site in question

[2015-07-24 16:28] DrewAllen88 commented on #42
BAU item. Reach out to Mike Vossi for further clarification if needed.

[2015-07-24 16:32] DrewAllen88 commented on #16
Handling with the CTB team.

[2015-07-24 16:33] DrewAllen88 commented on #15
Handling with the CTB team.

[2015-07-24 16:33] DrewAllen88 commented on #17
Handling with the CTB team.

[2015-07-24 16:37] DrewAllen88 commented on #13
Refer to more defined [ticket](https://github.com/DrewAllen88/Enhancements/issues/33).

[2015-07-24 16:37] #13 closed, assigned to nobody

[2015-07-24 16:49] DrewAllen88 opened #54 "Shared Article Images Cut Off"
[Link to issue](http://author-prod2.www.marshinc.net/cf#/content/marsh/europe/uk/en/insights/dawning-of-the-drones--the-evolving-risk-of-unmanned-aerial-syst.html?cq_ck=1437564677817).

Styles indicate an image is further left on the page and that is causing the image to cut cropped oddly from a shared article.

![image](https://cloud.githubusercontent.com/assets/8258720/8879853/5c3230e4-3202-11e5

[2015-07-27 15:51] abhishek-a commented on #28
Please provide the live site URL for reference. Also provide a snapshot of current view and expected view.

[2015-07-27 15:59] DrewAllen88 commented on #28
[Here](https://www.marsh.com/us/office-locator.html) is the url to the Maps page on Prod and you can click on any office location to see this. When you then click on the map itself...
![image](https://cloud.githubusercontent.com/assets/8258720/8910814/ed4a1cee-3456-11e5-9c74-a9924bc7d7d8.png)
...it redirects to Google Maps. This is fine. But you will see in the address it displays the long/lat:
![

[2015-07-27 16:03] abhishek-a commented on #28
Thanks git it.

[2015-07-27 16:06] abhishek-a commented on #54
Please provide a reference page URL and the component(s) used to author this image.

[2015-07-27 16:09] DrewAllen88 commented on #29
[Here](https://marsh.my.salesforce.com/06912000001gnxM?retUrl=%2Fchatter%2Fhandlers%2Flistview%2Ffile%3F_dc%3D1438013304409%26type%3Dfile%26filter%3Drecent%26fldr%3D%26linkDesc%3D%26customFilterParams%3D%26isSearchSupported%3D) is a link to the PDF on Chatter showing the updated designs. Waiting on PSDs but otherwise ready to go.

[2015-07-27 16:09] DrewAllen88 commented on #20
[Here](https://marsh.my.salesforce.com/06912000001gnxM?retUrl=%2Fchatter%2Fhandlers%2Flistview%2Ffile%3F_dc%3D1438013304409%26type%3Dfile%26filter%3Drecent%26fldr%3D%26linkDesc%3D%26customFilterParams%3D%26isSearchSupported%3D) is a link to the PDF on Chatter showing the updated designs.

[2015-07-27 16:09] DrewAllen88 commented on #30
[Here](https://marsh.my.salesforce.com/06912000001gnxM?retUrl=%2Fchatter%2Fhandlers%2Flistview%2Ffile%3F_dc%3D1438013304409%26type%3Dfile%26filter%3Drecent%26fldr%3D%26linkDesc%3D%26customFilterParams%3D%26isSearchSupported%3D) is a link to the PDF on Chatter showing the updated designs.

[2015-07-27 16:18] DrewAllen88 commented on #54
There is a link to the item on an Article Page above. It was authored originally on the Shared Article scaffold [here](http://author-prod2.www.marshinc.net/cf#/content/marsh/sharedcontent/sharedarticles/insights/dawning_of_the_drone.html).

[2015-07-27 17:06] DrewAllen88 commented on #51
This is an author specific task to be taken care of manually. Design confirms that it is no longer required though, so this field could be removed from the component itself now @joyjamir if we want.

[2015-07-27 17:47] DrewAllen88 commented on #6
Kara mentioned it is no longer an issue.

[2015-07-27 17:47] #6 closed, assigned to nobody

[2015-07-27 18:04] DrewAllen88 commented on #50
Resolved.

“Not-Found-165x165.jpg” image needs to be authored on Canada shared People Scaffold page, and any other country scaffold pages going forward. Most of these are done already.

[2015-07-27 18:04] #50 closed, assigned to nobody

[2015-07-27 18:12] DrewAllen88 commented on #22
Move to CTB team, handling in phase 1.5

[2015-07-27 18:12] #22 closed, assigned to DrewAllen88

[2015-07-27 18:21] DrewAllen88 commented on #24
Featured Stories Carousel

[2015-07-27 18:28] DrewAllen88 commented on #38
Lance should be sending out PSDs for this once approved.

[2015-07-27 18:30] DrewAllen88 commented on #31
BAU task. Update if questions.

[2015-07-27 18:35] DrewAllen88 commented on #26
Pending decision on structure of insights section. Designs have been done though for the events detail page [here](https://marsh.my.salesforce.com/06912000001gmxz?retUrl=%2Fchatter%2Fhandlers%2Flistview%2Ffile%3F_dc%3D1438022101759%26type%3Dfile%26filter%3Drecent%26fldr%3D%26linkDesc%3D%26customFilterParams%3D%26isSearchSupported%3D).

[2015-07-27 18:41] DrewAllen88 commented on #46
Need new comps for an updated view, with perhaps 2 columns instead of 3 with larger people images.

@timproDev thoughts on this?

[2015-07-27 18:46] DrewAllen88 commented on #41
Add names in for each of the components here.

[2015-07-27 19:57] DrewAllen88 commented on #39
Refer to this duplicate ticket https://github.com/DrewAllen88/Enhancements/issues/48

[2015-07-27 19:57] #39 closed, assigned to timproDev

[2015-07-27 19:57] DrewAllen88 opened #55 "Homepage Feature Area Updates"
Requirements
- reduce the image height
- allow for multiple campaigns to be featured
- the user navigates between these multiple campaigns via the "bubbles"
- add help text to encourage character limit
- force the height of the image so that text will overflow if char limit is exceeded
- H1 and H2 tags should be switched and designs updated

Suggested character limits
- H2 - 65 - one line
- H1 - 7

[2015-07-27 20:06] DrewAllen88 opened #56 "Promo Carousel Updates"
Requirements
- add help text on each of the fields to encourage character limits
- set the limit of entries to a maximum of 5
- add checkbox option to "open in new window"

Suggested character limits are as follows based on field names:
Title - two lines - 115 character limit (with spaces)
Description - three lines of text - 240 character limit (with spaces)

From [homepage](https://www.marsh.com/

[2015-07-27 20:10] DrewAllen88 opened #57 "Homepage Feature Area Text Cutting Off"
On the homepage the text in the Homepage Feature Area component is getting cut off at different points based on the viewport size. Mobile is acting strangely:
![image](https://cloud.githubusercontent.com/assets/8258720/8916496/fa26baf8-3479-11e5-97b7-3b50c344c768.png)

[2015-07-27 20:13] DrewAllen88 opened #58 "Featured Stories Carousel Updates"
Requirements
- add help text for character limit encouragement
- enforce a maximum of 5 authored items
- reduce the overall height of component from 440px to 350px

Suggested character limits based on field names:
Title - two lines - 90 character limit (with spaces)
Description - three lines of text - 145 character limit (with spaces)

New height can be seen in the [PDF design file](https://marsh.

[2015-07-27 20:23] DrewAllen88 opened #59 "Feature Area Updates"
Requirements
- add help text to encourage character limits
- enforce fixed height of the image, 400px,  so that text doesn't cause the size to increase

Suggested character limits are as follows based on field names:
Header - one line - 40 character limit (with spaces)
Description - three lines - 180 character limit (with spaces)
Right Column RTE - four lines - 160 character limit (with spaces)

V

[2015-07-27 20:50] DrewAllen88 commented on #59
Leaving as consolidated ticket.

[2015-07-27 20:50] #59 closed, assigned to nobody

[2015-07-27 20:59] DrewAllen88 commented on #34
Refer to referenced ticket.

[2015-07-27 20:59] #34 closed, assigned to nobody

[2015-07-27 21:00] DrewAllen88 commented on #30
Refer to above referenced ticket.

[2015-07-27 21:00] #30 closed, assigned to nobody

[2015-07-27 21:00] DrewAllen88 commented on #29
Refer to above referenced ticket.

[2015-07-27 21:00] #29 closed, assigned to nobody

[2015-07-27 21:00] DrewAllen88 commented on #24
Refer to above referenced tickets.

[2015-07-27 21:00] #24 closed, assigned to nobody

[2015-07-27 21:01] DrewAllen88 commented on #20
Refer to above referenced ticket.

[2015-07-27 21:01] #20 closed, assigned to nobody

[2015-07-28 14:27] DrewAllen88 opened #60 "Enable GoogleAnalytics (GA) based login tracking"
Enhance our GoogleAnalytics tracking to allow us to track login success/failure through our GA account. The following tasks need to be applied to our STAGE enrivonment so we can test.
1.  Apply the FED code that re-names each login button.
2.  Apply the new javascript through the Adobe Tag Manager (actually the FED team will perform this task when the Tag Manager is available).

[2015-07-28 15:06] DrewAllen88 commented on #32
Any way we can get the two fields actually built into the iframe component? So the author has the option to author 3 fields:
- Iframe URL
- Link to URL for Tablet
- Link Text for Tablet
- Open in New Window? check box
- Link to URL for Mobile
- Link Text for Mobile
- Open in New Window? check box

The first field is the standard iframe, when the view port is sized down to tablet and mobile the dis

[2015-07-28 16:20] DrewAllen88 commented on #55
Need to clarify the H1 and H2 tag changes. Check with Ian and Alvin about this.

[2015-07-28 18:51] DrewAllen88 opened #61 "404 Page"
Requirements:
- Implement the portal-specific 404 page
- Portal-specific body content
- Portal-specific footer text and links
- No FED code

[2015-07-28 18:53] DrewAllen88 opened #62 "Implied Consent Cookie Policy"
The UK needs a simplified cookie policy that pops up, has the user click ok, then stores the cookie.

This will be updated with a more advanced cookie policy further down the line, but this is a requirement for site launch.

[2015-07-28 18:53] DrewAllen88 opened #63 "Sitemap"
Requirements
- Implement the portal-specific sitemap.xml file
- No FED code

[2015-07-29 12:02] monalishah commented on #42
It means twitter feed component will be authored on every page where there is a need to display feeds.
Please confirm.

[2015-07-29 13:05] DrewAllen88 commented on #42
@joyjamir That doesn't sound like an optimal approach.

[2015-07-29 13:09] joyjamir commented on #42
No that will not work.  We need the Twitter feed to update without resulting in activation of the locale page, but the solution cannot be that we need to author the Twitter feed on each page of the site.

[2015-07-29 13:28] monalishah commented on #42
Yes Drew. You are right. I was bit confused regarding the requirement. Now its cleared.

[2015-07-29 15:12] DrewAllen88 opened #64 "Create "British English" Login/Registration/Password Reset TSP Pages"
We need to have British English versions of the Login and Registration pages.

The exercise of going through all the TSP pages and actions (emails sent out etc) needs to take place so that they reflect British English and the UK site.

These steps should be recorded and held on record for a repeat process when creating other sites for other languages.

[2015-07-30 13:02] DrewAllen88 opened #65 "AEM Contact Us Submissions to DNN"
Requirements
- update the contact us servlet to pass the path domain as well as the site path prefix

Here’s the detail:
1.  The table includes a field named ‘Portal’ and this data defaults to www.marsh.com. Since this will be the same for all submissions regardless of the portal, this field as it currently existins won’t work to identify the portal.
2.  The table includes a field called Referring

[2015-07-30 18:24] abhishek-a commented on #56
hi Drew, Please provide a Promo Carosuel snapshot and a live site or stage en link to see it.

[2015-07-30 18:47] DrewAllen88 commented on #56
@abhishek-a I have added some screenshots and links for you.

[2015-08-03 15:31] timproDev commented on #38
@DrewAllen88
FED complete
push to QA stage
further testing in required devices and browsers IE9 IE10 IE11 Safari, Firefox, Chrome, iPhone, iPad

[2015-08-03 15:46] timproDev commented on #48
@DrewAllen88 @joyjamir As I am looking into this, I am thinking that we will need designs for this. In exploring flexibility of adding links to the Main Nav we are running into real estate issues on iPad breakpoint dimensions and below. We may need to consider leveraging the brgr icon in it's fullest on iPad breakpoint, similar to how it is on iPhone where the main nav is included in the sub-brgr

[2015-08-03 17:02] timproDev commented on #57
@DrewAllen88 @joyjamir
on my local, I am not getting this issue. However, I am noticing that the image size on my local is different than that on the live site. can we refer to the image size document for this component and verify if this image is the right size?

[2015-08-03 17:03] timproDev commented on #44
@DrewAllen88 no FED needed on this

[2015-08-04 15:09] DrewAllen88 opened #66 "Enable Act-on Beacon"
Delivery date of August 11th.

Add this fragment of HTML code to your website or blog pages:
        <script>/_<![CDATA[_/(function(w,a,b,d,s){w[a]=w[a]||{};w[a][b]=w[a][b]||{q:[],track:function(r,e,t){this.q.push({r:r,e:e,t:t||+new Date});}};var e=d.createElement(s);var f=d.getElementsByTagName(s)[0];e.async=1;e.src='//info.marshpcs.com/cdnr/87/acton/bn/tracker/16306';f.parentNode.insertBefore(e,

[2015-08-04 15:58] DrewAllen88 commented on #57
@timproDev What image size do you have on your local?

[2015-08-04 19:19] DrewAllen88 opened #67 "Re-Host marsh.stage.ws"
Re host this internal site for staging and review purposes.

[2015-08-05 09:02] monalishah commented on #65
Hi Drew,

Could you please clarify more on requirement like why we need path domain and site path suffix and where we are using these 2 values ?

[2015-08-05 11:52] HarshitKhandelwal commented on #38
Can we have the updated HTML code and the CSS, JS files required for making the changes. Once changes incorporated, would test the other associated tickets as well.

[2015-08-05 14:31] joyjamir opened #68 "Enable Blog Listing component to pull in pages from a root path rather than pulling in child pages"
Blog listing right now pulls everything from underneath it, should have the option to pull from a folder. This will allow for some country sites to point to a global location AND author their own.

[2015-08-05 14:51] DrewAllen88 commented on #65
@monalishah Let's have @markharle provide some more detail on this.

[2015-08-05 16:13] DrewAllen88 commented on #66
Related to the Qualtrics ticket for someone to apply javascript to a page.

[2015-08-05 16:17] DrewAllen88 commented on #65
The target date for this is to support the UK launch.

[2015-08-05 16:18] DrewAllen88 commented on #64
Work between the BAU and TSP teams.

[2015-08-05 16:34] timproDev commented on #48
@DrewAllen88 spoke with Joy and we are applying the iPhone main nav behavior for the tablet layout. meaning that the main nav will hide within the brgr icon on tablet. this way we descrease to possibility of breaking the nav when adding more links (4)

[2015-08-05 16:50] DrewAllen88 commented on #60
This the item we referenced on the call @markharle ?

[2015-08-05 19:40] timproDev commented on #48
@DrewAllen88 FED complete | tested on local moz, safari, chrome, ie9, ipad, iphone | ready for further QA

[2015-08-05 19:41] timproDev commented on #49
@DrewAllen88 FED complete | tested on local moz, safari, chrome, ie9, ipad, iphone | ready for further QA

[2015-08-05 19:41] timproDev commented on #37
@DrewAllen88 FED complete | tested on local moz, safari, chrome, ie9, ipad, iphone | ready for further QA

[2015-08-05 20:58] joyjamir commented on #60
@markharle I think this is critical - it should be included in the Sept 4 release if at all possible

[2015-08-05 21:01] joyjamir commented on #68
@DrewAllen88 This should be available for UK site launch

[2015-08-05 22:48] markharle commented on #60
Yes.

On Wed, Aug 5, 2015 at 11:50 AM, Drew Allen notifications@github.com
wrote:

[2015-08-06 14:37] DrewAllen88 opened #69 "RIMS Canada Site Launch"
Site launch on August 21st.

Tasks to complete for the BAU team.

[2015-08-06 15:43] DrewAllen88 opened #70 "Right Rail Component Widths"
All RR components need to be consolidated for widths, they need to consistently fit across all templates.

[2015-08-06 15:45] timproDev commented on #60
@DrewAllen88 @markharle guys is this still a FED task? is this what Alvin and I are working on, based on an email somewhere that has requirements? if so, could we get that documented? also, if so, could we assign this to me so I know I have to work on it? if not, nevermind :)

[2015-08-06 15:46] timproDev commented on #57
@DrewAllen88 i will answer your question with another question: is this a valid issue since we are totally redesigning this component?

[2015-08-06 15:48] timproDev commented on #58
@DrewAllen88 @joyjamir @markharle are we developing new specs for the images that go into this component? also, are we using data-interchange or some sort of dynamic image injection function of the responsive image dimensions on this component?

[2015-08-06 15:52] DrewAllen88 commented on #58
Was hoping you could answer some of those questions Timbo. Don't think we need new specs as they should be in the Homepage pdf provided by Lance but correct me if I'm wrong. And I don't know about the image stuff, can that be controlled by CSS? Let's discuss and update this ticket accordingly.

[2015-08-06 17:40] timproDev commented on #70
segment-industry-services is the standard

[2015-08-06 17:41] DrewAllen88 commented on #57
Let's tackle the updates to the homepage https://github.com/DrewAllen88/Enhancements/issues/55 and come back to this.

[2015-08-06 17:49] DrewAllen88 commented on #47
@joyjamir I think we need to confirm what this was meant to now look like and get design to throw some wireframes together.

[2015-08-06 17:59] DrewAllen88 commented on #32
@timproDev need to talk to BAU about this to get in sync

[2015-08-06 18:04] DrewAllen88 commented on #27
Bring back to Design to change to use square or portrait headshot image. Can function like the existing promo carousel.

[2015-08-06 18:32] markharle commented on #69
Additional comments:
Goal is to be ready for PROD UAT 8/19
Here is the URL to the pre-release site (content not updated as of today):
http://author-prod2.www.marshinc.net/cf#/content/marsh/microsites/rimscanada/en/home.html
I will ask Abhishek to have this ready for PROD UAT on 8/19, and will send him the Accenture-created micros-site launch document in case he doesn't have a copy. (Marsh com New

[2015-08-06 20:04] timproDev commented on #70
Requires class name edits in the template which I imagine would be done by the BAU team.

DOM Class Name Change | Product Solution Page
DOM class name change | press release detail page
DOM class name change | campaign page - on hold - need design input
CSS change | .campaign-wrap aside : campaign page - on hold - need design input
CSS change | .article-wrap aside : article page
CSS change | .arti

[2015-08-07 13:11] DrewAllen88 commented on #51
Just keep this as a manual change.

[2015-08-07 13:13] DrewAllen88 commented on #41
All level one pages have the feature area style option of "small header white color". Does that conform to the correct style from Miller Smith?

Images in the DAM are the right height? Right now they 464px and going down to 400px. Is this an issue?

@timproDev can you and I talk about these two items?

[2015-08-07 13:26] DrewAllen88 opened #71 "Change Feature Area Component on Product Solution Template"
Right now on the template named "Product Solution" there is a statically included component called Feature Area. This needs to be switched with the Header Feature Area component.

How will this change impact the live site? Will the component disappear in the live version if we make this change?

[2015-08-07 13:38] DrewAllen88 opened #72 "Change Marsh Press Release Detail Template"
The Press Release Feature Area component on the Marsh Press Release Detail template should no longer pull any content from the Shared Articles, it should now behave much like the Header Feature Area component.

The Marsh Press Release Detail template should now pull the Title field into the body of the page, along with the Publication Date and City, as seen in the image below.

![image](https://cl

[2015-08-07 13:56] DrewAllen88 commented on #56
Are we able to prepopulate the fields that pull from the source? Like the Over-ride Title and Over-ride Description fields? Then the author can see and change the text right there if they wish.

We would also like to consider indicating to the user whether they have gone over the "character limit" that we are indicating. Some sort of visual indication.

![image](https://cloud.githubusercontent.com

[2015-08-07 15:48] DrewAllen88 commented on #70
This going to make the SEPT 4 release? @timproDev

[2015-08-10 17:01] timproDev commented on #70
@DrewAllen88 I am shooting for it. This would mean it would be included in this Friday's FED deliverable.

[2015-08-11 12:57] HarshitKhandelwal commented on #53
@DrewAllen88 Will it only be a single CSS file to be included or will there be multiple CSS files for the sites?

[2015-08-11 12:58] HarshitKhandelwal commented on #23
@DrewAllen88  What is the functionality of Open in new Window for redirect template? Will the redirected page open in new window?

[2015-08-11 13:20] DrewAllen88 commented on #53
@HarshitKhandelwal I think if there is a folder option in the DAM it could be multiple files. And this perhaps may be the case. @markharle @timproDev thoughts?

[2015-08-11 13:41] DrewAllen88 commented on #23
Pretty sure this was the desired functionality right @joyjamir ?

[2015-08-11 13:45] ianlaw commented on #23
Yes - it would be an option for the author.

[2015-08-11 14:39] joyjamir opened #73 "Authoring Marsh Portal Incorrectly Breaks Pages Under Locale"
Authoring Marsh Portal page should not be a dependency for templates behaving correctly under a locale page.

@markharle Please elaborate as necessary.

[2015-08-12 16:47] timproDev commented on #40
@DrewAllen88 @joyjamir AEM is implementing the rt rail highlight code for the rt rail text component. The recent designs suggest that the <p> font sizes of these 2 components are to be different font-sizes. we could either maintain consistency across these 2 components by making the font-size 1 specific size, or we could look to enhance the rt rail highlight component code so that an alternate fon

[2015-08-12 18:46] timproDev commented on #32
@timproDev bring up in call

[2015-08-12 18:46] timproDev commented on #21
@timproDev bring up in call

[2015-08-12 18:47] timproDev commented on #41
tim to create a total of 7 components, as follows:
level 1
level 2
level 2 with nav
level 3
level 3 with nav
level 4
level 4 with nav

[2015-08-12 19:49] DrewAllen88 opened #74 "RR Text Component Styled Incorrectly"
@timproDev to build a component that has the correct styles on it. Needs to be included in the next drop to go with [RR Font Reconciliation](https://github.com/DrewAllen88/Enhancements/issues/40).

Talk with BAU about issue.

[2015-08-12 20:06] DrewAllen88 commented on #2
There should always be a campaign whether original or inherited.

[2015-08-12 20:06] #2 closed, assigned to DrewAllen88

[2015-08-12 20:23] timproDev commented on #74
currently, the rt rail text component is using the rt rail highlight html and css. rt rail text component html and css will be included in the next FED deliverable. @DrewAllen88 @joyjamir confirm this approach with Joy

[2015-08-13 15:10] joyjamir opened #75 "Create separate experience for users who forget passwords (and need to reset) and users whose passwords expire (and need to reset)"
Currently, when passwords expire (every 90 days), and user tries to log in, s/he is presented with a password reset page (but with no indication why).  @ianlaw This is why you were kicked to the password reset page upon your last log-in attempt.

[2015-08-13 19:14] DrewAllen88 commented on #75
TSP team?

[2015-08-13 19:26] DrewAllen88 commented on #70
@timproDev detail the documentation for BAU.

[2015-08-13 19:33] DrewAllen88 opened #76 "Redesign Blog Filter"
Should probably look similar to the advanced search where the search filters are above the search results. Having the filters in the RR drops the filters below the content on mobile/tablet and doesn't work with infinite scroll.

[2015-08-13 19:34] DrewAllen88 opened #77 "Content Listing Filters on Tablet/Mobile"
The word "Seach" is off.

![image](https://cloud.githubusercontent.com/assets/8258720/9259656/ac374704-41d0-11e5-9845-bddec48734dc.png)

[2015-08-13 19:35] DrewAllen88 commented on #76
@timproDev mock up content listing view with list view including an image and blog listing content.

[2015-08-13 19:38] DrewAllen88 opened #78 "Images Indicate They Are Links and Don't Work"
Example, Promo Carousel:
![image](https://cloud.githubusercontent.com/assets/8258720/9259723/3fba34d2-41d1-11e5-8156-f541acf55b8c.png)
Images show the hand cursor but don't link to content.

[Blog listing](https://www.marsh.com/us/risk-in-context.html)
[Promo Carousel](https://www.marsh.com/us/home.html) - and across whole site

[2015-08-13 19:40] DrewAllen88 opened #79 "About Us H1 Template Implementation"
![image](https://cloud.githubusercontent.com/assets/8258720/9259769/97297aca-41d1-11e5-9777-6b4c9f5adbd3.png)

@timproDev to add more details.

[2015-08-13 19:45] DrewAllen88 opened #80 "Accordion White Space Issue"
White space being created above accordion and accordion items when authored.
[Example link](http://author-prod2.www.marshinc.net/cf#/content/marsh/europe/uk/en/about-marsh/about-us.html?cq_ck=1439485633086)

[2015-08-13 19:47] DrewAllen88 commented on #58
@timproDev provide new specs on image sizes.

[2015-08-13 19:48] DrewAllen88 commented on #49
Doesn't exist with new code/design.

[2015-08-13 19:48] #49 closed, assigned to timproDev

[2015-08-13 19:50] DrewAllen88 commented on #37
Moving to production 8/14. Check production, Careers Taleo iframe, 8/17.

[2015-08-14 18:34] DrewAllen88 commented on #55
Need to copy the promo carousel below the homepage image before the code is deployed to prod.

[2015-08-14 18:45] DrewAllen88 opened #81 "Utility Nav User Profile Icon Fixes"
- the dropdown isn't centered to the button (FIXED)
- the button should have a hover state on desktop

![image](https://cloud.githubusercontent.com/assets/8258720/9281432/fe9ab798-4292-11e5-8386-0c265ff932db.png)

[2015-08-14 18:48] DrewAllen88 commented on #41
BAU to check what happens on level 2 if they are to make the current Feature Area component not statically included in the template.

[2015-08-14 19:04] DrewAllen88 opened #82 "Ability To Add Bios Under Industry/Services pages"
Requirements
- they should not be included in the RR components (RR Link List when authored dynamically)

[2015-08-14 19:08] DrewAllen88 opened #83 "Risk In Context To Have Level 1 Feature Area"
RIC listing is moving to become a level 1 page and thus needs the level one feature area component. Related to the Feature Area Reconciliation ticket https://github.com/DrewAllen88/Enhancements/issues/83.

[Page in question](https://www.marsh.com/us/risk-in-context.html).

[2015-08-14 19:20] DrewAllen88 opened #84 "Insights In Menu To Become a Dropdown"
Items to include in the list:
Risk in Context Blogs
Risk and Analysis
Webcasts and Events
MMC Social Feed

Need designs if this lists goes to two columns.

[2015-08-18 18:07] DrewAllen88 commented on #84
Test in stage to see what it looks like.

[2015-08-18 18:14] DrewAllen88 commented on #67
Any update on this @timproDev @markharle ?

[2015-08-18 18:15] DrewAllen88 commented on #57
@timproDev does this issue go away in the new design?

[2015-08-18 18:17] DrewAllen88 commented on #51
Need to take care of this with the feature area design updates.

[2015-08-18 18:17] #51 closed, assigned to DrewAllen88

[2015-08-18 18:19] DrewAllen88 commented on #36
Waiting to get sitemap finalized. Similar issue here https://github.com/DrewAllen88/Enhancements/issues/35.

[2015-08-18 18:21] DrewAllen88 commented on #33
What would this update require? @markharle @timproDev

[2015-08-18 18:23] DrewAllen88 commented on #27
Creative indicated that this should be used as is with a nicer image from them, not the standard headshot.

[2015-08-18 18:23] #27 closed, assigned to nobody

[2015-08-18 19:48] timproDev commented on #60
GA javascript implementation - login
what is the process of getting this up on stage?
treat it as additional code  - cloud service - send it to Kai at Valeer - at to stage file - so that it renders on all pages

[2015-08-19 13:10] timproDev commented on #55
The image dimensions pulled from the designs are as follows:
Desktop: width:1300px; height: 400px;
Tablet: width:780px; height: 400px;
Phone: width: 390px; height: 400px;

[2015-08-19 13:35] HarshitKhandelwal commented on #53
Dev completed.

[2015-08-19 13:47] DrewAllen88 opened #85 "Breadcrumb Author Image"
When you author the breadcrumb component it requires the Client Hub link to be authored. This should not be required, as in some cases there is no site login.

[2015-08-19 13:51] DrewAllen88 opened #86 "Updates to Utility Nav"
We want to the option to author either all or some of the items in the utility nav. Right now we have several body styles under page properties that hide the utility nav all together, and one that includes it. We require the option for users to only author certain parts of the utility nav and then only those show up.

For example:
- If they author the search and login, the language and country dro

[2015-08-19 19:22] DrewAllen88 commented on #62
Switched this to critical, as it needs to get done before the UK launch so if it isn't in this sprint we need to accommodate for it in the next one.

[2015-08-19 21:24] ABHINAV-CHANSARKAR commented on #56
Character limit to over-ride Content type has not been specified. Have calculated and found it to be 65 for one line of content including spaces. Please suggest if a change is required.

[2015-08-20 10:44] monalishah commented on #56
Dev Complete.

[2015-08-20 10:44] monalishah commented on #55
Dev complete.

[2015-08-20 10:53] HarshitKhandelwal commented on #38
Dev complete

[2015-08-20 12:15] HarshitKhandelwal commented on #48
Dev complete

[2015-08-20 13:37] HarshitKhandelwal commented on #80
Is this the ticket raised for the issue raised by Will last week over mail?

[2015-08-20 13:40] HarshitKhandelwal commented on #74
HTML updated. Dev complete

[2015-08-20 13:42] HarshitKhandelwal commented on #70
HTML class changed for product solution and press release detail page. Awaiting FED update for remaining pages.

[2015-08-20 14:47] DrewAllen88 commented on #80
Yes it is @HarshitKhandelwal

[2015-08-20 16:09] HarshitKhandelwal commented on #73
@joyjamir  Is this the issue raised by Leon while authoring Netherlands site?

[2015-08-20 16:09] HarshitKhandelwal commented on #84
@DrewAllen88  @timproDev  Will the insights behave same as Client Segments in the Main Navigation?

[2015-08-20 16:12] HarshitKhandelwal commented on #21
@DrewAllen88  Do we require the format 19-SEP-2014 (08:20:43 AM)? Since it is based on copyright date, it will always display 12:00:00 AM.

Also it will only be for content Listing or will it be incorporated to feature areas as well?

[2015-08-20 16:46] joyjamir commented on #73
Yes, it is.

[2015-08-20 20:52] joyjamir opened #87 "Create page types that are "automatically" excluded from RR dynamic link lists"
Currently, the RR dynamic link list pull items from a path, and the only way to filter out content is by tags. Some of our industries and services would like to feature industry leaders, and we think the leadership listing page and bios should live within that industry section.  BUT we do not want those pages pulled into the RR link list.

[2015-08-20 20:54] joyjamir opened #88 "Redesign blog page so thumbnail image of blog author and author's title appear in bi-line"
Note that the authors name needs to remain clickable and needs to lead to a filtered view on blog listing page of that author's posts (as it functions today).

[Example blog](https://www.marsh.com/us/risk-in-context/are-you-measuring-economic-cost-of-risk.html)

[2015-08-20 20:56] joyjamir commented on #88
@DrewAllen88 Please share this need with the design team.  Note that the thumbnail image should maintain same aspect ration as square or portrait so we don't need yet another people image

[2015-08-21 08:01] HarshitKhandelwal commented on #73
Fixed. Not authoring the client hub landing page does not break template, but client hub breadcrumbs won't be displayed.

[2015-08-21 08:02] HarshitKhandelwal commented on #85
Dev completed. To be included in Sept 4 release.

[2015-08-21 08:13] monalishah commented on #58
Dev complete for following:
1) add help text for character limit encouragement
2) enforce a maximum of 5 authored items
3) Integrated fed as well for this component

[2015-08-21 11:04] HarshitKhandelwal commented on #62
Awaiting FED.

[2015-08-21 15:53] DrewAllen88 commented on #21
@HarshitKhandelwal it will no longer be in the Feature Areas as the newest designs for the Press Releases have that date info displayed below the title (in the main body).
![image](https://cloud.githubusercontent.com/assets/8258720/9412669/0c0e3450-47fb-11e5-9079-671485f647cb.png)
But if the time is always going to be the same I suggest we skip that format. @joyjamir can speak up if she disagrees

[2015-08-21 15:53] DrewAllen88 commented on #84
Yes it will @HarshitKhandelwal

[2015-08-21 16:33] markharle commented on #65
@monalishah
Let me try to explain this a bit further. As background, the data submitted through each Marsh.com AEM Contact Us form submission is committed to the 'tbl_contact_Us_Global_AEM'  table on our DNN server. This is live in PROD and is working as expected for the USA marsh.com AEM site.

But we will have a problem when we launch our next AEM country site. Specifically, we have a field in t

[2015-08-24 11:41] monalishah commented on #65
Thanks @markharle for the clarification.

[2015-08-24 16:01] timproDev commented on #48
@HarshitKhandelwal Please find here the links to the updated designs

https://marsh.my.salesforce.com/06912000001gpJx

Additionally, here is a screenshot on my desktop of the new design:

![local-screenshot](https://cloud.githubusercontent.com/assets/8249300/9445019/e1abd42e-4a57-11e5-8662-53f7d8b24355.jpg)

[2015-08-24 17:54] timproDev commented on #84
@DrewAllen88 @joyjamir what's the timeline for implementation on this. I understand that Alvin wanted 3 weeks of GA testing the current insights - is that so?

[2015-08-25 07:41] monalishah commented on #44
Dev complete.

[2015-08-25 10:12] HarshitKhandelwal commented on #48
@timproDev - If you can see the links below, you can see the main nav issue i was talking about. Hover on the client segments and you can see the dropdown.

https://marshdev.www.marshinc.net/content/marsh/americas/us/en/home.html

Also, the class used for the client segment and about us dropdown need to be implemented on AEM side?

[2015-08-25 11:06] HarshitKhandelwal commented on #84
@timproDev - If my understanding is correct, the insights DOM will be something like:
<li class="sml-drop"><a href="">INSIGHTS</a></li>

[2015-08-25 14:11] timproDev commented on #48
Thanks for posting this @HarshitKhandelwal  - please add the class of "sml-drop" to the last 2 <li> under the <ul class="list-nav">

[2015-08-25 14:29] timproDev commented on #81
@DrewAllen88 complete - ready for QA

[2015-08-25 15:22] timproDev commented on #79
@DrewAllen88 Let's wait to look at this until after the Font reconciliation is in effect - thanks!

[2015-08-25 15:24] timproDev commented on #78
@DrewAllen88 awaiting comprehensive list of components that should implement this behavior

[2015-08-25 19:09] DrewAllen88 commented on #47
Take note that the homepage and campaign page are using the class on the background image, this is causing issues on the image for the campaign as it gets stretched to the wrong proportions.

[2015-08-25 19:12] DrewAllen88 opened #89 "Refactor Campaign Image CSS"
The background image position and size stylings are not optimal. right now, they css is background-size: cover
must connect with design on optimal layout considering focal points of photo selected.

@timproDev to look at and advise if we implement before campaign redesign - https://github.com/DrewAllen88/Enhancements/issues/47

[2015-08-25 19:16] DrewAllen88 commented on #84
Pushing this out to the next release after SEPT 25 as it will not be fully test yet. (GA)

[2015-08-25 19:22] DrewAllen88 commented on #72
@timproDev needs the psds for this.

[2015-08-25 19:27] DrewAllen88 commented on #82
BAU looking into this feature to be available via tagging.

[2015-08-25 20:13] DrewAllen88 opened #90 "Vimeo Videos Don't Work on IE11"
Possibly not an issue for FED or BAU but need so be brought to the appropriate channels.

[2015-08-26 14:29] DrewAllen88 commented on #78
@timproDev above is the final list. Appears to only be those two images.

[2015-08-26 14:58] timproDev commented on #41
@joyjamir @DrewAllen88 I see that we are setting the height of the feature areas - I would advice against fixing this height and not allowing for the ability to expand. so after speaking with drew, we have determined that we will set the minimum height of the feature areas the the dimensions provided in the design comps. should the text require vertical flexibility, I will be building that behavio

[2015-08-26 19:09] DrewAllen88 commented on #88
MillerSmith designs to accomodate?
![image](https://cloud.githubusercontent.com/assets/8258720/9503360/6ce7b294-4c04-11e5-9743-b551a428196a.png)

[2015-08-26 19:39] DrewAllen88 commented on #46
Move all the info in the attendees box up. The padding at the top should be equal to that on the left.
![image](https://cloud.githubusercontent.com/assets/8258720/9503971/010c67e6-4c08-11e5-86c2-5c9eadd09c3f.png)

[2015-08-26 19:42] DrewAllen88 commented on #72
Lance is sending these.

[2015-08-26 19:54] DrewAllen88 commented on #46
This is the proposed design (mocked up by me), Creative said this should be a fine approach. Test what happens when name touches the + icon.
![image](https://cloud.githubusercontent.com/assets/8258720/9504465/c31efcf2-4c0a-11e5-85be-0f9a97853f0b.png)

[2015-08-26 22:02] joyjamir commented on #41
Is this not what we have now, which doesn't work? Would prefer to have this fixed. What's the concern with doing so?

Sent from my iPhone

On Aug 26, 2015, at 10:58 AM, timproDev <notifications@github.com<mailto:notifications@github.com>> wrote:

@joyjamirhttps://github.com/joyjamir @DrewAllen88https://github.com/DrewAllen88 I see that we are setting the height of the feature areas - I would advic

[2015-08-27 11:34] HarshitKhandelwal commented on #48
Dev complete.

[2015-08-27 13:22] joyjamir commented on #41
hi joy-

I am trying to avoid any cutting off of text within the range of break points. say we set a character limit for something that looks good on landscape of tablet. then when we re-orientated the tablet and set the break to portrait, the height will be fixed and the text may be cut off, possibly. it just seems that we may wish to exercise a little flexibility so that the design isn’t breakin

[2015-08-27 14:43] abhishek-a commented on #82
Bios pages will be created at same Level as of ChemPreferred Page with url - https://www.marsh.com/us/industries/chemical/chempreferred.html.
Bios page should offer some authoring feature to support exclusion in the display of Right Rail "Link List" component on any page where "Link List" component is authored.

[2015-08-27 14:55] abhishek-a commented on #78
Image on these 2 components should have a link pointing to same place where the component title and Read More link points.
Drew will reconfirm with Ian if thats correct or image can have a different URL which it might not.

[2015-08-27 15:03] abhishek-a commented on #76
https://www.marsh.com/us/risk-in-context.html - this is Blog page and should look simillar to Insights page. Only difference is it shouldnt have Grid view like the Insights page have.

[2015-08-27 15:11] abhishek-a commented on #75
Once the password expired after 90 days limit user is directed to Reset Password Page. Ask is to display a proper message on Password Reset page mentioning why user is directed to here.

Please provide the message which needs to be displayed to the  user on Password Reset page.

[2015-08-27 15:19] abhishek-a commented on #72
https://www.marsh.com/us/media/business-insurance-40-under-40.html - this is level 2 page having Feature Area Component which will be modified from FED and CQ side just to display the title (probably authored) and remove the city, date and description from this component to pull down to the body of page.
Hence, required 1) Feature Area Component update and 2) Template body update

[2015-08-27 15:30] abhishek-a commented on #71
https://www.marsh.com/us/industries/chemical/chempreferred.html - example of page built using product solution template. check for the static inclusion of Feature Area Component restriction. ask is to remove this without any impact on live site.

[2015-08-27 15:39] abhishek-a commented on #68
https://www.marsh.com/us/risk-in-context.html - "Blog List" component displays list of Blogs on this page (risk in context). currently component is build in such a way that it pulls only the list of blogs present as an immediate children.
Ask is to remove this restrcition and provide author flexibility to browse for suh Blog List pages.

[2015-08-27 15:42] abhishek-a commented on #67
Ask is to host the FED deliverly which is a web content package on some server say apache server.

[2015-08-28 12:46] DrewAllen88 commented on #41
PSD files:
[Home updates](https://marsh.my.salesforce.com/06912000001gpJx)
[Campus Recruiting level 1-4](https://marsh.my.salesforce.com/06912000001grt4)
[Media Center](https://marsh.my.salesforce.com/06912000001gtQO)

[2015-08-28 12:48] DrewAllen88 commented on #75
@joyjamir @ianlaw we need to come up with the message that displays on the page for a user where the password has expired. Any thoughts?

[2015-08-28 12:51] DrewAllen88 commented on #18
Same as https://github.com/DrewAllen88/Enhancements/issues/68, closing this one out.

[2015-08-28 12:51] #18 closed, assigned to nobody

[2015-08-28 13:34] joyjamir commented on #41
Hi Joy-

Any update on this? Feedback?

Tim

From: Schletter, Timothy
Sent: Thursday, August 27, 2015 9:20 AM
To: Jamir, Joy; DrewAllen88/Enhancements
Cc: DrewAllen88/Enhancements; Allen, Drew
Subject: RE: [Enhancements] Design Reconcilliation: Feature Areas (#41)

hi joy-

I am trying to avoid any cutting off of text within the range of break points. say we set a character limit for something tha

[2015-08-28 14:29] DrewAllen88 opened #91 "Navigation Z Index Issue"
The z index is off for the Client Segment dropdown in the navigation. The hamburger menu is on top of it.

[2015-08-28 14:38] DrewAllen88 opened #92 "Search Bar on Tablet/Mobile Doesn't Overlap Menu"
On tablet and mobile when the search bar is opened the Menu is still slightly visible and might get clicked.

[2015-08-28 14:43] DrewAllen88 opened #93 "Search Text Isn't Scaleable"
![search](https://cloud.githubusercontent.com/assets/8258720/9548935/58d54438-4d71-11e5-99e1-f00aeb869f0d.JPG)

Need to make it scaleable as the text is authorable. The solution is to add the search text back in as cue text to the dialog box.

[2015-08-28 14:47] DrewAllen88 opened #94 "PDF Component Not Authorable on Solutions Template"
Image is stretched.

[2015-08-28 15:11] DrewAllen88 commented on #37
PROD done

[2015-08-28 15:11] #37 closed, assigned to timproDev

[2015-08-28 16:04] timproDev commented on #91
@DrewAllen88 don't know if Abhinav is on here, can you relay that we need a link to this so I can inspect the issue. It turns out that the css is working fine on my local machine

[2015-08-28 20:10] joyjamir commented on #41
Can we discuss when I'm back?

Sent from my iPhone

On Aug 28, 2015, at 9:33 AM, Schletter, Timothy <Timothy.Schletter@mmc.com<mailto:Timothy.Schletter@mmc.com>> wrote:

Hi Joy-

Any update on this? Feedback?

Tim

From: Schletter, Timothy
Sent: Thursday, August 27, 2015 9:20 AM
To: Jamir, Joy; DrewAllen88/Enhancements
Cc: DrewAllen88/Enhancements; Allen, Drew
Subject: RE: [Enhancements] Design Re

[2015-08-31 14:18] DrewAllen88 commented on #56
UAT complete.

The items under the component edit have not yet been taken care of. The top two tabs should say:
- Promo Source --> Dynamic Authoring
- Promo --> Manual Authoring

![image](https://cloud.githubusercontent.com/assets/8258720/9580698/ee0433ee-4fc8-11e5-9f78-f7092e23d681.png)

Also on right click of the component on the page we need to update the header to indicate the component in que

[2015-08-31 14:27] DrewAllen88 commented on #55
UAT complete.

On right click of component to edit, doesn't indicate what the component is:

![image](https://cloud.githubusercontent.com/assets/8258720/9580995/cd373e7a-4fca-11e5-9b28-689708ce775c.png)

[2015-08-31 14:31] DrewAllen88 commented on #94
UAT Complete.

No indication of what component I am about to edit, should perhaps say "RR PDF Download":

![image](https://cloud.githubusercontent.com/assets/8258720/9581057/2cacad0e-4fcb-11e5-953d-79feabfb7ab3.png)

Nothing in the edit dialog box either. "dialog" should read "PDF Download"

![image](https://cloud.githubusercontent.com/assets/8258720/9581071/3e313d7e-4fcb-11e5-9f11-667c3c62ffd2.pn

[2015-08-31 14:48] #55 closed, assigned to timproDev

[2015-08-31 14:48] #56 closed, assigned to nobody

[2015-08-31 14:48] #94 closed, assigned to nobody

[2015-08-31 14:48] DrewAllen88 commented on #38
UAT Complete.

[2015-08-31 14:48] #38 closed, assigned to timproDev

[2015-08-31 14:51] DrewAllen88 commented on #48
UAT Complete.

[2015-08-31 14:53] DrewAllen88 commented on #53
UAT Complete.

[2015-08-31 14:53] #53 closed, assigned to nobody

[2015-08-31 15:25] timproDev commented on #46
FED complete - this is a CSS update - this will be included in the Sept 3 Fed Deliverable

[2015-08-31 15:32] joyjamir commented on #88
No, that's for the article pages - not RIC

[2015-08-31 15:41] DrewAllen88 commented on #80
UAT Complete.

[2015-08-31 15:41] #80 closed, assigned to nobody

[2015-08-31 16:06] #70 closed, assigned to timproDev

[2015-08-31 16:08] DrewAllen88 commented on #45
UAT Complete. Believe this is a BAU task to implement and approve.

[2015-08-31 16:08] #45 closed, assigned to nobody

[2015-08-31 16:09] DrewAllen88 commented on #66
Comments from @markharle:

This is custom JS that James Hsu asked to implement to support the Marsh PCS business. And this is done by Velir, not BAU. I think James is close to approving it, this is not a part of Release 1.

[2015-08-31 17:30] joyjamir commented on #47
Drew, can you walk me through this - I'm not clear on what the issue i.

[2015-08-31 17:40] timproDev commented on #58
FED complete - this will be included in the Sept 3rd FED deliverable

[2015-08-31 19:22] #69 closed, assigned to nobody

[2015-08-31 20:20] timproDev commented on #41
FED complete - this will be included in the Sept 3 deliverable
In the FED drop, these components will be found in templates documented in Abhishek's exel doc

[2015-08-31 20:28] ABHINAV-CHANSARKAR commented on #91
@DrewAllen88 Issue observed only on IE. URL : http://54.173.78.221:4503/content/marsh/americas/us/bau/homepage.html for the last 2 tabs of Primary Navigation when the Hamburger menu is open.

[2015-08-31 21:11] timproDev commented on #48
@joyjamir @DrewAllen88 @markharle I have found a bug with the rendering of this component. On IE9, the brgr icon's drop nav layout is broken. The white background is supposed to go the whole way across but isn't. The is a FED issue and I am re-opening this and am trying to repair this on my end.

[2015-09-01 12:37] DrewAllen88 commented on #48
Can you post a screenshot when you get a second please @timproDev

[2015-09-01 18:10] timproDev commented on #91
updated z-index styling on the slide-down-panel - will be included in the Sept 3 FED drop

[2015-09-01 18:25] DrewAllen88 commented on #78
Remove the anchor tag on the image for Blog Listing. Everything else is confirmed.

[2015-09-01 19:15] DrewAllen88 commented on #89
Use custom.css to quick fix this before a code drop for the real fix.

[2015-09-01 19:19] DrewAllen88 commented on #88
This MillerSmith design is obsolete. Need to account for the title and where the name and date will go when we do that.

@timproDev to add screenshot of what he has built.

[2015-09-01 19:20] timproDev commented on #88
we have an updated layout on the article template that accommodates a thumbnail of the author - FED has to test this out.

![image](https://cloud.githubusercontent.com/assets/8249300/9614003/f4ef7fa2-50bc-11e5-92c5-da24e4551fa6.png)

[2015-09-02 10:06] HarshitKhandelwal commented on #68
Dev complete

[2015-09-02 11:52] HarshitKhandelwal commented on #71
@DrewAllen88 - As per my understanding, the change will only have feature area component being replaced by Header Feature Area. It is impossible to remove the static inclusion without impacting the live site.
Impact:
It will remove the component from the live site when the new code is put to prod. So the new HFA component will have to be authored again for all the pages built using this template.

[2015-09-02 12:55] DrewAllen88 commented on #48
@timproDev can you please include the removal of the hand cursor for the nav and revert to the standard cursor icon please. FED complete; will be included in Sept 25 FED drop

[2015-09-02 13:12] timproDev commented on #72
FED complete:
adding a new template named media-lvl-02.html to the FED package; add span with class of "pipe" to wrap the pipe symbol between the date and location; css updates

[2015-09-02 17:22] DrewAllen88 commented on #56
All good.

[2015-09-02 17:22] DrewAllen88 commented on #55
Good.

[2015-09-02 18:36] timproDev commented on #77
@DrewAllen88 Though the text is broken, the ask is to render this text so that it can accommodate variation in word length. The original design uses the words "sort and filter" and the component is styled and built to accommodate only that text. When then text is shortened, the text breaks. The height of the box that contains the text is determined by the amount of text fields in the filter compon

[2015-09-02 18:41] timproDev commented on #48
additional tickets
48 - reopened and fixed
first implementation introduced a bug in IE where the dropdown menu would not expand full length of desktop view and would also break layout on tablet and mobile
ie9.js update

 var resizeListener = function(){                  
        $(window).on("resize", function(){

            if ($(window).width() >= 1025 && $("#mainNav > .slide-down-panel").lengt

[2015-09-02 18:58] DrewAllen88 commented on #77
@joyjamir what are your thoughts on this? We can discuss it.

[2015-09-02 19:46] joyjamir commented on #77
An icon could work.  Not sure I love this one, but if we can find other examples, might be a good option.

[2015-09-02 20:25] DrewAllen88 opened #95 "Client Hub Registration Captcha Issue"
Only single kind of Captcha is getting pulled every time, either “Select street sign” on the Captcha.  Images become difficult to identify and instead of auto verification, the component develops a code which is to pasted in input box. After completing that the verification still doesn’t complete successfully.  PFA the screenshot.

This Captcha is displayed when the browser is IE8,9 and 10 or when

[2015-09-03 10:50] HarshitKhandelwal commented on #48
@timproDev - will these be included in Sept 3 drop?

[2015-09-03 13:15] DrewAllen88 opened #96 "Hamburger Broken on IE9"
On IE9:
- Hamburger menu on IE9 doesn't display correctly as the text is Top Aligned instead of center aligned
- Also the background of hamburger menu doesn't display in full width of the page.

![image](https://cloud.githubusercontent.com/assets/8258720/9659105/47d806de-521c-11e5-8bda-9b59aae91288.png)

[2015-09-03 13:44] timproDev commented on #77
@DrewAllen88 @joyjamir is this a design task?

[2015-09-03 14:35] timproDev commented on #96
FED complete | included in the Release 2 drop

ie9.js update

 var resizeListener = function(){
        $(window).on("resize", function(){

[code]

ie9.css update

nav {
    &.open {
        @media #{$large-up} {
            .main-nav-wrapper {
                .slide-down-panel {
                    display: none;
                }
            }
        }
    }
}

[2015-09-03 14:37] timproDev commented on #48
@HarshitKhandelwal yes, it will - there is a new ticket for it

https://github.com/DrewAllen88/Enhancements/issues/96

[2015-09-03 15:46] DrewAllen88 opened #97 "Limit To Items in Homepage Feature Area"
We would like to hard code a limit to how many items can be added to the Homepage Feature Area component, and set it to 3.

[2015-09-03 17:34] joyjamir commented on #77
Yes, I think so.  But can we fix the current view in the interim?

[2015-09-03 17:49] DrewAllen88 commented on #77
Yeah we just have to change the text from "Search" to "Sort and Filter" or something just as long.

[2015-09-03 18:32] timproDev commented on #62
FED complete - this will be included in the Sept 3/Release 2 deliverable
Updates to html, css and js
The new component html can be found on the cookie-consent-page.html and is placed just after the opening <body> tag
The js is injected on the bottom of that page, just above the closing body tag.

[2015-09-03 18:34] timproDev commented on #60
@DrewAllen88 I am removing the ready for BUA label on this as this is now an ongoing project with Alvin. I don;t think BAU has any more to do on this - is there another way we should track this ticket/project?

[2015-09-03 20:16] joyjamir commented on #85
@DrewAllen88 Is this included in the 9/4 release?

[2015-09-03 20:31] DrewAllen88 commented on #85
@joyjamir Yes it is.

[2015-09-05 14:50] joyjamir opened #98 "Home page feature area requires three images"
This feels like a bug to me - the image ideally should responsively resize for tablet and mobile.  Note that this is the same size as the new level 1 feature areas, and those should also only require one image that resizes responsively.

@timproDev is this a FED issue?

[2015-09-05 14:55] joyjamir opened #99 "Too much space between promo carousel and next componcnet on home page"
See image - space between promo carousel and banner needs to be reduced
![homepage space issue](https://cloud.githubusercontent.com/assets/8442256/9699787/95fe8d78-53bc-11e5-922e-3076c011442c.PNG)

@timproDev assume this is a FED issue?

[2015-09-08 07:16] HarshitKhandelwal commented on #61
Dev complete

[2015-09-08 08:31] monalishah commented on #91
Integrated to AEM. Dev Complete.

[2015-09-08 08:33] monalishah commented on #96
Integrated to AEM. Dev Complete.

[2015-09-08 08:34] monalishah commented on #48
Integrated to AEM. Dev Complete.

[2015-09-08 09:03] monalishah commented on #46
Integrated to AEM. Dev Complete.

[2015-09-08 09:21] monalishah commented on #81
Integrated to AEM. Dev Complete.

[2015-09-08 13:41] HarshitKhandelwal commented on #78
I had not implemented the change in blog listing, but as per the FED on 9/3, the blog listing had the image linked to the blogs. So, I implemented it for blogs. @DrewAllen88  please confirm whether the change has to be implemented for blogs.

[2015-09-08 14:14] DrewAllen88 commented on #78
@HarshitKhandelwal the FED code in this case was incorrect. We still want to remove the anchor tag on the images for the blog listing page.

[2015-09-08 14:43] joyjamir commented on #44
@DrewAllen88 I think the promo carousel limit was set in Release 1 - so is this only for feature story carousel for release 2?

[2015-09-08 14:46] DrewAllen88 commented on #48
@timproDev can we close this? Doesn't appear to exist any more with the new utility nav and the menu is fine.

[2015-09-08 15:06] DrewAllen88 commented on #75
The user would get to this new page when their password has expired, as opposed to them manually resetting it.
Let's change "Password Reset" to "Password Expired" and the message can change to "Your password has expired.  Enter current password and create a new one."
![password_reset](https://cloud.githubusercontent.com/assets/8258720/9738448/8e4a9bb2-5619-11e5-973c-aa259866ea16.jpg)

[2015-09-08 15:36] joyjamir opened #100 "Search icon (magnifying glass) icon is not displaying in utility nav on tablet and mobile"
See attached image
![search icon issue](https://cloud.githubusercontent.com/assets/8442256/9739480/e3a32080-561d-11e5-80f9-9766ee54ca67.PNG)

[2015-09-08 17:33] joyjamir commented on #40
@DrewAllen88 and @timproDev Do you think we can flag this for the next release?

[2015-09-08 19:05] DrewAllen88 commented on #100
BAU to look into. Appears to only be present in AEM Author mode.

[2015-09-08 19:10] DrewAllen88 commented on #99
Tim to match design (in PDF).

[2015-09-08 19:50] DrewAllen88 opened #101 "Large White Space Between Components"
A lot of white space between the Title component and the one below, Leadership Detail, in this case. Can we reduce the padding below the title perhaps?

![image](https://cloud.githubusercontent.com/assets/8258720/9745661/40ae9b42-5641-11e5-98bf-26c1b010b350.png)

[2015-09-08 21:23] DrewAllen88 commented on #40
@timproDev we need to account for the text in the left body now as well. Accordion text is far too small.

[2015-09-09 06:13] HarshitKhandelwal commented on #100
@joyjamir can you please provide me with the link for the page? I tried to check for the issue on prod page http://author-prod2.www.marshinc.net/cf#/content/marsh/americas/us/en/home.html but it seems to be working. Tried on Chrome, IE9 and Firefox and can see the search magnifying icon. Please find the screenshot attached.

![image](https://cloud.githubusercontent.com/assets/13542008/9754846/7d65

[2015-09-09 07:20] HarshitKhandelwal commented on #78
Image link removed for blog listing.
Dev completed.

[2015-09-09 08:42] HarshitKhandelwal commented on #21
Dev complete.

Dev Publish URL
https://marshdev.www.marshinc.net/us/contentlisting.html

[2015-09-09 08:46] HarshitKhandelwal commented on #83
Dev completed.
Blog Listing template to have level one feature area statically included.

[2015-09-09 13:14] DrewAllen88 commented on #100
PROD - Desktop view - Chrome - [just happens to be this page](http://author-prod2.www.marshinc.net/cf#/content/marsh/americas/us/en/about-marsh/leadership/robert-s-bentley.html)
![image](https://cloud.githubusercontent.com/assets/8258720/9762672/02fc2c28-56d3-11e5-91d1-3cf80c63020d.png)

I also see the same issue for tablet and mobile views. Only in author.

[2015-09-09 13:26] HarshitKhandelwal commented on #100
@DrewAllen88 I checked the page and I can see it perfectly

Mobile View:
![image](https://cloud.githubusercontent.com/assets/13542008/9762926/4aa5841a-5724-11e5-93e2-f2135b63ba92.png)

Desktop View:
![image](https://cloud.githubusercontent.com/assets/13542008/9762955/6c75b39e-5724-11e5-8186-3ddaeed169a3.png)

[2015-09-09 19:08] DrewAllen88 commented on #88
@timproDev you have any update on this?

[2015-09-09 19:19] DrewAllen88 commented on #77
Minimum height (three cards)
![search_sort_filter gif](https://cloud.githubusercontent.com/assets/8258720/9771749/14f8a126-5706-11e5-96b7-2dd49efaacb3.png)

@timproDev

[2015-09-09 19:32] joyjamir commented on #40
@timproDev Do we have the body font size update that should be applied across all of the text components

[2015-09-09 19:54] joyjamir commented on #40
@timproDev Sorry, an additional comment, it's not just the text components, but all of the left and main body text, including on Article templates, which are pulled in from Shared Content.

@DrewAllen88 , let's discuss this with the BAU team

[2015-09-10 16:50] joyjamir opened #102 "On PDF Download Component, Header should not be required field"
Can we get this in Release 2?

[2015-09-10 18:58] abhishek-a commented on #102
Sure Joy.

[2015-09-10 19:00] joyjamir commented on #99
All, Lori requested that this be included in the 10/2 release.  Is that possible? @timproDev

[2015-09-15 13:26] timproDev commented on #101
@DrewAllen88 I think this might be an author issue or an AEM implementation issue. The AEM template code is not as per FED. The FED code is structured so that the title of the article, in this case the name of the Leadership, is wrapped in an h2 and is placed within a leadership-detail div container which is then wrapped in an about-us-summary div container. It seems to me that the title section d

[2015-09-15 13:35] DrewAllen88 commented on #101
@timproDev is there no H1 on this page then?

[2015-09-16 14:40] timproDev commented on #101
@DrewAllen88 that might be a joy/alvin SEO question. I know that the h1 and h2 are styled the same to accommodate a switch out

[2015-09-16 14:44] DrewAllen88 commented on #101
@timproDev Alvin def said it was a bug, i had BAU add a ticket to JIRA for it.

[2015-09-17 18:09] DrewAllen88 commented on #100
@HarshitKhandelwal we are using Chrome v45.0.2 and FF v40.0.3, what browser are you using to try to replicate?

[2015-09-17 18:13] DrewAllen88 commented on #95
This is actually not a bug, just related to the way the recaptcha works. The images appear if the recaptcha doesn't accept you as not a robot.

[2015-09-17 18:13] #95 closed, assigned to nobody

[2015-09-17 18:19] DrewAllen88 commented on #79
Move to Release 4

[2015-09-17 18:36] DrewAllen88 commented on #88
All items that need to be displayed:
Name
Title
Date
Sharing icons

[2015-09-17 18:40] DrewAllen88 commented on #40
Check on this after next release 2. Some of the fonts may be template specific.

[2015-09-17 20:23] timproDev commented on #84
this will be included in the Release 3 FED deliverable

[2015-09-18 06:28] HarshitKhandelwal commented on #100
@DrewAllen88 I am using Chrome v45.0.2454.85 and FF v40.0.3.

[2015-09-18 18:19] timproDev commented on #76
@DrewAllen88 @joyjamir here is a mock up I did in the browser. please take a look
![blog-listing-scrnsht](https://cloud.githubusercontent.com/assets/8249300/9967384/53db2b14-5e10-11e5-8ba6-9ba2ea82af63.jpg)

[2015-09-21 05:10] abhishek-a commented on #21
MAR-2103 Jira created for it. Please refer Jira and do not make any updates here on GITHUB.

[2015-09-21 05:27] abhishek-a commented on #41
MAR-2115 ,MAR-2125 ,MAR-2134 and MAR-2143 Jira created for it. Please refer Jira and do not make any updates here on GITHUB.

[2015-09-21 12:51] timproDev commented on #93
@DrewAllen88 @joyjamir I have a question about the mobile view of this implementation. please see the image below. on desktop, the user can enter text into the search field and then click the magnifying glass icon to submit the request. on mobile, when the use taps the search icon, a drop down search field appears with a text button that says "search". this text button is the submit action. if we

[2015-09-21 13:23] timproDev commented on #32
@DrewAllen88 would you agree that the link to url and the link text would be the same for both tablet and mobile? is there a reason why we are separating them?

[2015-09-22 16:05] ianlaw commented on #93
Tim and I discussed and we are looking into ways to solve this. Based on our discussion so far, I am leaning towards an approach where we rely on the button in the keyboard as the search execution button, rather than an actual button on the interface. This will probably mean we will want to de-emphasize the magnifying class (either suppress it, keep it in the upper right, shade it, something) so u

[2015-09-22 16:49] DrewAllen88 commented on #93
This something we all need to come to an agreement on or do we need involve Creative? This code is due next week so we need a decision.

[2015-09-22 17:26] DrewAllen88 commented on #85
Done.

[2015-09-22 17:26] #85 closed, assigned to nobody

[2015-09-22 19:18] timproDev commented on #76
check on status of blog filter component - talk to abhishek
req = rt rail, no left rail; full width filter below feature area

[2015-09-23 02:55] abhishek-a commented on #41
some more Jira associated with it - 2. MAR-2152, MAR-2160, MAR-2174, MAR-2182, MAR-2190,  MAR-2198,MAR-2206, MAR-2214, MAR-2222

[2015-09-23 03:00] abhishek-a commented on #48
Jira 2230 created for it. Please do not update this ticket on GIThub anymore.

[2015-09-23 03:00] abhishek-a commented on #96
Jira 2230 created for it. Please do not update this ticket on GIThub anymore.

[2015-09-23 13:23] timproDev commented on #93
@DrewAllen88 @ianlaw hi team - here is my proposed solution. replacing the search text with an arrow. the right arrow convention is part of the marsh web design and can be found on the right rail blue button elements. we could repurpose it here. thoughts?

![dropdown](https://cloud.githubusercontent.com/assets/8249300/10046055/a3915cec-61d4-11e5-9c52-7585819ee5b5.jpg)

resource:
http://www.smashin

[2015-09-23 13:35] DrewAllen88 commented on #93
@timproDev Are we moving the word "Search" into the search box on desktop too then?

[2015-09-23 16:08] DrewAllen88 commented on #101
Leadership detail to include H1

[2015-09-23 16:24] DrewAllen88 commented on #93
On desktop move the "Search" cue text into the search field.
Tablet and mobile do the same and add the right arrow to kick of the search.

[2015-09-23 16:28] DrewAllen88 commented on #89
Check out this page in stage, it is an existing campaign page - http://author-mmcstage2.adobecqms.net/cf#/content/marsh/americas/us/en/campaigns/learning-from-hurricane-katrina.html

Here is the link to stage itself - http://author-mmcstage2.adobecqms.net/siteadmin#/content/marsh/americas/us/en/campaigns/learning-from-hurricane-katrina

[2015-09-23 16:39] DrewAllen88 commented on #88
Example of blog page: https://www.marsh.com/us/risk-in-context/analytics-emloyees-bottom-line.html

[2015-09-23 16:44] DrewAllen88 commented on #77
Perhaps something to go below text and above tiles
![image](https://cloud.githubusercontent.com/assets/8258720/10051699/dc6c0fbe-61f0-11e5-9941-c20a869534f9.png)

[2015-09-23 16:49] DrewAllen88 commented on #76
Review requirements.

[2015-09-23 17:00] timproDev commented on #32
tim to generate screenshot of design

[2015-09-23 17:00] DrewAllen88 commented on #32
Yes they can be the same. @timproDev
Example page:
https://www.marsh.com/us/careers/marsh-careers-database.html

[2015-09-23 17:02] DrewAllen88 commented on #26
Put on hold.

[2015-09-23 17:27] timproDev commented on #89
@DrewAllen88 in order to properly test this out and solve for this, I would need access to the campaign pages that include the original (broken) image sizes. These links have the hack-fix image sizes. Is it possible to set up such a page?

[2015-09-23 18:39] DrewAllen88 commented on #77
Set a minimum height of roughly 1.3 card lengths; Character max limit is 25, let's go with a minimum of 5; min and max chars need to be tested; the sort box gets taller with additional search parameters; all test should be in caps.

[2015-09-23 21:23] ABHINAV-CHANSARKAR commented on #58
MAR-2231 Jira created for it. Please refer Jira and do not make any updates here on GITHUB.

[2015-09-23 21:23] ABHINAV-CHANSARKAR commented on #44
MAR-2231 Jira created for it. Please refer Jira and do not make any updates here on GITHUB.

[2015-09-23 22:02] ABHINAV-CHANSARKAR commented on #60
MAR-2240, MAR-2244 and MAR-2248 Jira created for it. Please refer Jira and do not make any updates here on GITHUB.
For point 2 to utilize the ADobe Tag manager and applying the code snippet there is no Jira ticket. Please send bau team a mail if you need the same.

[2015-09-23 22:48] ABHINAV-CHANSARKAR commented on #62
MAR-2259 Jira created for it. Please refer Jira and do not make any updates here on GITHUB.

[2015-09-23 22:54] ABHINAV-CHANSARKAR commented on #61
MAR-2252 Jira created for it. Please refer Jira and do not make any updates here on GITHUB.

[2015-09-24 04:37] abhishek-a commented on #68
MAR-2279 jira created. Please do not update this ticket any further on GITHUB.

[2015-09-24 04:38] abhishek-a commented on #75
MAR-2278 Jira created. Please do not update the ticket on GITHUB any further.

[2015-09-24 04:39] abhishek-a commented on #64
MAR-2273 Jira created. Please do not update this GITHUB ticket any further.

[2015-09-24 04:40] abhishek-a commented on #63
MAr-2266 jira created. Please do not update this GITHUB ticket any further.

[2015-09-24 04:44] abhishek-a commented on #91
MAR-2285 Jira created for it. Please do not update this GITHUB ticket any further.

[2015-09-24 04:52] abhishek-a commented on #31
MAR-2286 Jira created. Please do not update this GITHUB task anymore.

[2015-09-24 05:01] abhishek-a commented on #42
MAR-2292 Jira created for it hence do not update the ticket on HGITHUB anymore. this is shifted to Release 3.

[2015-09-24 05:04] abhishek-a commented on #46
MAR-2297 Jira created for it. Please do not update this github ticket anyomore.

[2015-09-24 05:14] abhishek-a commented on #65
MAR-2298 Jira created for it. Please do not update this task in GITHUB anymore.

[2015-09-24 05:17] abhishek-a commented on #73
MAR-2303 Jira created for it. Please do not update this ticket anymore.

[2015-09-24 05:27] abhishek-a commented on #74
MAR-2304 Jira created for it. Please do not update this GITHUB ticket anymore.

[2015-09-24 05:35] abhishek-a commented on #28
MAR-2309 Jira created for it. Please do not update this ticket anymore.

[2015-09-24 05:47] abhishek-a commented on #12
MAR-2315 Jira created for it. Please do not udpate this GITHUB ticket anymore.

[2015-09-24 06:08] abhishek-a commented on #54
MAR-2321 J/ira created for it. Please do not update this GITHUB ticket anymore.

[2015-09-24 06:13] abhishek-a commented on #78
MAR-2322 Jira created for it. Please do not update this GITHUB ticket anymore.

[2015-09-24 06:15] abhishek-a commented on #81
MAR-2323 Jira created for it. Please do not update this GITHUB ticket anymore.

[2015-09-24 17:20] timproDev commented on #101
this edit has been made to the leadership component and will be included in the Release 3 FED deliverable

[2015-09-24 17:54] timproDev commented on #89
there will be an added enhancement to the html of this template. a class change will be made to the container of the feature text so to adjust the width of the text - as per Rachana and design

[2015-09-24 17:58] ianlaw commented on #93
I'm good with this approach. Joy, can we get your approval so Tim can start working on this?

[2015-09-24 18:00] joyjamir commented on #93
I think I gave it yesterday?  But yes, approved.

[2015-09-24 18:19] timproDev commented on #93
Joy, I think Ian is implying that your approval only counts <i>after</i> his approval....

[2015-09-24 19:20] timproDev commented on #93
this update includes CSS edits and will be included in the Release 3 deliverable

[2015-09-24 19:21] timproDev commented on #89
this update includes edits to the css; this will be included in the Release 3 deliverble

[2015-09-25 17:14] timproDev commented on #77
This has been updated. The character limit accommodates for max 25 characters. The filter box height has been increased to a min-height; it should expand should there be more filters included. this will be included in the Release 3 FED deliverable

[2015-09-29 20:27] abhishek-a commented on #23
MAR-2331 Jira created for it. Please refer Jira and do not make any updates here on GITHUB. We are not building it in Release 2 and will take in future release.

[2015-09-29 20:56] abhishek-a commented on #82
MAR-2327 Jira created for it. Please refer Jira and do not make any updates here on GITHUB.

[2015-09-30 06:23] HarshitKhandelwal commented on #102
Dev complete.

[2015-09-30 14:32] abhishek-a commented on #99
MAR-2339 Jira created for it. Please refer Jira and do not make any updates here on GITHUB.

[2015-09-30 14:33] abhishek-a commented on #102
MAR-2338 Jira created for it. Please refer Jira and do not make any updates here on GITHUB.

[2015-10-12 13:44] monalishah commented on #77
MAR-2377 Jira created for it. Please do not update this GITHUB ticket anymore.

[2015-10-12 13:47] monalishah commented on #89
MAR-2378 Jira created for it. Please do not update this GITHUB ticket anymore.

[2015-10-12 13:50] monalishah commented on #93
MAR-2379 Jira created for it. Please do not update this GITHUB ticket anymore.

[2015-10-12 13:55] monalishah commented on #101
MAR-2380 Jira created for it. Please do not update this GITHUB ticket anymore.

[2015-10-12 13:57] monalishah commented on #84
MAR-2381 Jira created for it. Please do not update this GITHUB ticket anymore.